.price__list {
    max-width: 500px;
    margin: 0 auto;
}

/* Coolors Exported Palette - coolors.co/984447-add9f4-476c9b-468c98-101419 */

/* HSL */
$color1: hsla(358%, 38%, 43%, 1);
$color2: hsla(203%, 76%, 82%, 1);
$color3: hsla(214%, 37%, 44%, 1);
$color4: hsla(189%, 37%, 44%, 1);
$color5: hsla(213%, 22%, 8%, 1);

/* RGB */
$color1: rgba(152, 68, 71, 1);
$color2: rgba(173, 217, 244, 1);
$color3: rgba(71, 108, 155, 1);
$color4: rgba(70, 140, 152, 1);
$color5: rgba(16, 20, 25, 1);
